@import "tailwindcss";

@theme {
  /* backgrounds */
  --color-mainBg: #1a1a1a;
  --color-secondaryBg: #262626;

  /* buttons */
  --color-primaryBtn: #e5610a;
  --color-primaryBtnTxt: #fdedd7;
  --color-secondaryBtn: #f29145;
  --color-tertiaryBtn: #fcfcfc;

  /* borders */
  --color-border: #616674;

  /* dots */
  --color-inactiveDot: #383b42;

  /* typography */
  --color-header: #fcfcfc;
  --color-paragraph: #e7e7e7;

}